# Dependencias
node_modules/
.env
.env.*

# Build
dist/
dist-ssr/

# Logs
*.log
npm-debug.log*

# Base de datos (opcional: quita esta línea si quieres incluir la BD)
# backend/database.sqlite

# Sistema operativo
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.sw?
*.local
